.button {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: center;
  width: 75px; /* Set fixed width for square button */
  height: 75px; /* Set fixed height for square button */
  transition: background-color 250ms ease, border-color 250ms ease;
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-sm);
  background-color: #DADFF7;
}

.button[data-checked] {
  background-color: #272838; /* Change color when checked */
}

.budgetButton {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center;
  justify-content: center;
  width: 175px; /* Set fixed width for square button */
  height: 60px; /* Set fixed height for square button */
  transition: background-color 250ms ease, border-color 250ms ease;
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-sm);
  background-color: #DADFF7;
}

.budgetButton[data-checked] {
  background-color: #272838; /* Change color when checked */
}

.body {
  flex: 1;
  display: flex;
  margin: 0; /* No margins are needed */
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
}